@font-face {
  font-family: 'Peace_Sans';
  src: url('../fonts/Peace_Sans_Webfont.ttf') format('truetype'),
       url('../fonts/Peace_Sans.otf') format('otf')
}

@font-face {
  font-family: 'Lemon_Milk';
  src: url('../fonts/LemonMilkbold.ttf') format('truetype'),
       url('../fonts/LemonMilkbold.otf') format('otf')
}
