.footer {
  padding: 90px 0 60px;
  background-image: url('../img/footer.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #ffffff;
  z-index: 0;
  max-height: 800px;

  @media screen and (max-width: 900px) {
    padding: 80px 0 20px;
  }

  @media screen and (max-width: 400px) {
    padding: 40px 0 20px;
  }

  &__triangle {
    --length: 170px;
    border-right: var(--length) solid transparent;
    border-left: var(--length) solid transparent;
    border-bottom: var(--length) solid $primary-background;
    top: auto;
    left: auto;
    bottom: 0;
    right: -35px;
  }

  &::after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba( 0, 0, 0, 0.85);
  }

  &__title {
    text-align: center;
    color: $fourth-text;
    margin-bottom: 90px;

    @media screen and (max-width: 400px) {
      margin-bottom: 40px;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 90px;

    @media screen and (max-width: 400px) {
      margin-bottom: 20px;
    }
  }

  &__item {
    display: flex;
    margin: 0 40px 20px;

    @media screen and (max-width: 650px) {
      flex: auto;
      margin: 0 20px 20px;
    }
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;

    @media screen and (max-width: 600px) {
      margin-bottom: 50px;
    }
  }

  &__icon {
    font-size: 1.5625rem;
    --size: 1em;
    width: var(--size);
    height: var(--size);
    padding: 0.85em;
    cursor: pointer;
    margin: 0 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border-color 120ms ease-in-out;
    transition-delay: 100ms;

    &:hover {
      border-color: #9f9f9f;
      transition-delay: 0;
    }

    @media screen and (max-width: 600px) {
      margin: 0 5px;
      font-size: 1.15rem;
    }
  }

  &__copyrights {
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.5px;
    position: relative;
    margin: 0 20px;

    &::before {
      content: '';
      position: absolute;
      top: -35px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 800px;
      height: 2px;
      background: $fourth-text;

      @media screen and (max-width: 600px) {
        top: -25px;
      }
    }
  }
}

.item {

  &__icon {
    display: flex;
    min-width: 52px;
    justify-content: center;
    align-items: center;
  }

  &__text-wrap {
    margin-left: 35px;
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 1.375rem;
    margin-bottom: 20px;
  }

  &__text {
    color: #ffffff;
  }
}
