.hero {
  height: 100vh;
  max-height: 800px;
  position: relative;
  background: url('../img/hero_background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__image {
    position: absolute;
    width: 42%;
    max-width: 800px;
    right: 60px;
    top: 70px;
    z-index: 1;
    filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.15));

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__content-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/hero_background_gray.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-right: 300px;
    padding-top: 150px;

    @media screen and (max-width: 900px) {
      padding: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-family: 'Lemon_Milk', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 7.5rem;
    line-height: 0.85;
    color: #ffffff;
    padding-top: 0%;

    @media screen and (max-width: 900px) {
      padding-top: 12%;
    }

    @media screen and (max-width: 600px) {
      font-size: 5.5rem;
      padding-top: 24%;
    }

    @media screen and (max-width: 450px) {
      font-size: 3.5rem;
    }

    &--small {
      font-size: 4.375rem;
      margin-top: 0;
      margin-bottom: 60px;
      padding-top: 0;

      @media screen and (max-width: 600px) {
        font-size: 3.2rem;
      }

      @media screen and (max-width: 450px) {
        font-size: 2rem;
      }
    }
  }
}
