.title {
  font-size: 3.875rem;
  font-family: 'Peace_Sans', sans-serif;
  font-weight: 700;
  color: $primary-text;

  @media screen and (max-width: 600px) {
    font-size: 2.5rem;
    font-weight: 400;
  }
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.0625rem;
  color: $secondary-text;

  @media screen and (max-width: 600px) {
    font-size: 0.875rem;
  }
}
