.we-do {
  background-color: $secondary-background;
  padding: 80px 0;
  position: relative;

  @media screen and (max-width: 900px) {
    padding: 80px 0;
  }

  @media screen and (max-width: 400px) {
    padding: 40px 0;
  }

  &__title {
    text-align: center;
  }

  &__triangle {
    --length: 75px;
    border-top: var(--length) solid transparent;
    border-bottom: var(--length) solid transparent;
    border-left: var(--length) solid #bc2e3a;
    top: 300px;

    @media screen and (max-width: 900px) {
      display: none;
    }
  }
}

.description {
  display: flex;
  flex-wrap: wrap;
  margin: 0 110px;

  @media screen and (max-width: 900px) {
    margin: 0 20px;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 300px;
    margin: 80px 0;

    @media screen and (max-width: 900px) {
      margin: 40px 0;
    }

    @media screen and (max-width: 400px) {
      flex-direction: column;
      align-items: center;
      margin: 20px 0;
    }
  }

  &__icon {
    flex: 0 75px;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background-color: $primary-background;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    flex: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.875rem;
    font-weight: 800;
    color: $primary-text;
    margin: 15px 15px 0;

    @media screen and (max-width: 400px) {
      text-align: center;
    }
  }

  &__text {
    margin-left: 90px;

    @media screen and (max-width: 400px) {
      margin: 10px 0;
      text-align: center;
    }
  }
}
